def map: [ $IN::lines -> [ $... ]];

def start: $map -> \[i,j](<='@'> { row: $i, col: $j } !\) ... ...;

def keyPositions: [ $map -> \[i,j](<'\p{Lower}'> { key: $, row: $i, col: $j } !\) ... ...;

def keys: [ $keyPositions... ->  $.key ];
