package combinatorics

templates lexicalPermutations
  <=1> [1] !
  <>
    def n: $;
    def p: [ $n - 1 -> lexicalPermutations ];
    1..$n -> \(def k: $;
      def tail: [1..$n -> \(<~=$k> $ !\)];
      $p... -> [ $k, $tail($)...] !\) !
end lexicalPermutations
